.task-assigned-to {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 190px;
  padding: 0 4px;
}

.task-assigned-to span:hover {
  cursor: pointer;
  color: #1fc7d3;
}

/* Hide Assigned To on non-big screens */
@media (max-width: 1279px) {
  #task-hierarchy .task-assigned-to {
    display: none;
  }
}

.assign-autocomplete-ctn {
  position: relative;
  display: flex;
  width: 240px;
  max-height: 32px;
}

.right-panel-ctn .task-assigned-to {
  width: unset;
  max-width: 236px;
}
