#home-background {
  background: url('../../static/background_img/home_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: #1c1c1c;
  height: calc(100vh - 100px);
}
