#task-hierarchy {
  height: 100%;
}

#task-hierarchy-title {
  text-align: center;
  padding-bottom: 18px;
}

#task-hierarchy-title h2 {
  display: inline-block;
  color: #fcfcfc;
  margin: 0;
}

#task-labels {
  display: flex;
  padding: 0 3px 3px 40px;
  color: #eaeaea;
  font-size: 1.36em;
  text-decoration: underline;
}

.label-task-icons {
  margin-left: auto;
}

.label-assigned-to {
  width: 190px;
  padding: 0 4px;
}

.label-due-date {
  width: 106px;
  padding: 0 4px;
}

ul {
  list-style-type: none;
}

#root-ul-ctn {
  padding-left: 0px;
}
