.task-status-ctn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.85em;
  word-spacing: -0.08em;
  max-width: 8vw;
}

/* Desktop */
@media (min-width: 1367px) {
  .task-status-ctn {
    min-width: 130px;
    white-space: nowrap;
  }
}

/* Mobile */
@media (max-width: 1366px) {
  .task-status-ctn {
    min-width: 110px;
  }
}

.task-status-Done {
  color: #2bde2b;
}
