.task-details-ctn {
  min-width: 420px;
  max-width: 60vw;
  color: #d6d6d6;
  font-size: 1.2em;
}

.task-assignment-ctn {
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 0 16px;
  color: #d6d6d6;
}

.assigned-to-ctn {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
}

.assigned-to-ctn span:hover {
  cursor: pointer;
  color: #1fc7d3;
}

.due-date-ctn {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
}

.icon-ctn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  margin: 0 -6px 0 0;
  height: 100%;
}

.pursuance-discuss-ctn {
  padding: 0 16px;
}

.pursuance-title-ctn {
  padding: 4px 0 0 0;
}


.discuss-task-title-ctn {
  display: flex;
  align-items: center;
  border-top: 1px solid #6d6d6d;
  padding-top: 12px;
}

.discuss-task-title {
  font-size: 1.5em;
  color: #fcfcfc;
}

.task-deliverables-ctn {
  border-top: 1px solid #6d6d6d;
  padding-top: 8px;
  margin-top: 16px;
  margin-bottom: 32px;
  min-height: 64px;
}

.subtasks-ctn {
  border-top: 1px solid #6d6d6d;
  padding-top: 8px;
}

.subtasks-list {
  list-style: none;
  padding-left: 0
}

.subtask-item {
  margin-left: 0;
}

.fa-circle-o {
  margin-bottom: 2px;
  margin-right: 3px;
}

.no-task {
  height: calc(100vh - 110px);
  margin-top: 60px;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 36px;
}
