.public-pursuance-search-form {
  margin-top: 5px;
}

.public-pursuance-search-form label {
  color: white;
  margin-top: 10px;
  margin-right: 10px;
}

.public-pursuance-search-form input {
  height: 28px;
  padding-left: 5px;
  min-width: 50vw;
  border-radius: 5px;
  border: none;
  outline: none;
}

.public-pursuance-search-form input[type="text"]::placeholder {
  opacity: 0.5;
}

.pursuance-list h3 {
  color: white;
}

.pursuance-description h3 {
  color: #50b3fe;
}
