.pursuance-page {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 110px);
  width: 100%;
  margin: 0;
  padding: 12px;
}

.pursuance-page > article {
  display: flex;
  flex: 1;
  order: 2;
}

.pursuance-page > nav {
  flex: 0 0 5em;
  order: 1;
}
