.PursuancePage {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.PursuancePage > article {
    margin: 4px;
    padding: 5px;
    display: flex;
    flex: 1;
    order: 2;
}

.PursuancePage > nav {
    margin: 4px;
    padding: 5px;
    flex: 0 0 5em;
    order: 1;
}
