#invites {
  color: white;
}

#invites select {
  color: black;
}

#invites input {
  color: black;
  border-radius: 5px;
  outline: none;
  padding-left: 5px;
  width: 50%;
}

#invites .invite-permissions-level svg:hover {
  opacity: 0.7;
}
