#not-found {
<<<<<<< HEAD
  background-color: #1c1c1c;
  height: calc(100vh - 60px);
  padding-bottom: 50px;
  margin-top: 60px;
  padding-top: 18%;
=======
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
>>>>>>> e67652c... Refactored 'content-ctn' CSS Class to be Reusable
  text-align: center;
  color: #d6d6d6;
}
