.discuss-task-title-update {
  color: #1c1c1c;
  outline: none;
  border: none;
  border-bottom: 2px solid #50b3fe;
  font-size: 1.5em;
  max-width: 100%;
  width: 95%;
  border-radius: 4px;
  padding-left: 5px;
}
