.right-panel-ctn {
  display: flex;
  right: 0;
  height: 100%;
  max-height: calc(100vh - 60px);
  position: fixed;
  overflow-y: auto;
}

.right-panel-content-ctn {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #6d6d6d;
  color: #efefef;
  font-size: 1.2em;
  background-color: #1c1c1c;
  position: absolute;
  height: 100%;
  max-height: calc(100vh - 60px);
  width: 100%;
  min-width: 500px;
  max-width: 35vw;
  right: 50px;
  border-right: none;
  position: fixed;
  overflow-y: auto;
}

#right-panel {
  height: 100%;
  width: 50px;
  border: 1px solid #6d6d6d;
  background-color: #212121;
}

.toggle-panel-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid #6d6d6d;
  color: #fff;
}

.toggle-panel-ctn:hover {
  background-color: #333333;
  cursor: pointer;
  color: #1fc7d3;
}
