.task-form-ctn {
  font-size: 14px;
  margin-bottom: 4px;
}

.nested-form {
  padding-left: 72px;
}

.leaf-form {
  padding-left: 64px;
}

.form-control {
  height: 32px;
}

.task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#input-task-title-ctn {
  width: 100%;
}

#input-task-title {
  border-color: #a5a5a5;
  border-radius: 4px 0 0 4px;
}

.assign-autocomplete-ctn {
  position: relative;
  display: flex;
  width: 240px;
}

/* Shrink Assigner input on smaller screens */
@media (max-width: 1279px) {
  #task-hierarchy .assign-autocomplete-ctn {
    width: 150px;
  }
}

@media (max-width: 1023px) {
  #task-hierarchy .assign-autocomplete-ctn {
    width: 100px;
  }
}

.save-task-btn {
  background-color: #23527c;
  color: #efefef;
  border-radius: 0 4px 4px 0;
  border-color: #a5a5a5;
  height: 32px;
}

.save-task-btn:hover {
  background-color: #288bd6;
  color: #282828;
}
