.task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#input-task-title-ctn {
  width: 60%;
}

#input-task-title {
  border-radius: 4px 0 0 4px;
}

.assign-autocomplete {
  width: 20%;
  position: relative;
  display: flex;
}

.at-symbol {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 6px 2px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

.assign-to {
  position: relative;
  border-radius: 0;
}

.react-datepicker__input-container {
  height: 34px;
}

.react-datepicker__input-container $0 {
  height: 20px !important;
  padding: 6px 12px !important;
}

.save-task-btn {
  border-radius: 0 4px 4px 0;
}
