.navbar {
  border-radius: 0px;
  border: none;
  margin: 0px;
}

.navbar .container {
  width: 86%;
}

.modal-title {
  text-align: center;
}

.modal-btn-ctn {
  text-align: right;
  padding-right: 16px;
}

.modal-btn-ctn .btn {
  margin-left: 10px;
}

.navbar-brand {
  color: #fcfcfc !important;
}

.navbar-nav li a {
  color: #d6d6d6 !important;
}

.navbar-nav li a:hover {
  color: #be8700 !important;
}
