.navbar {
  position: fixed;
  background-color: #141414;
  border-radius: 0px;
  border: none;
  margin: 0;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar .container {
  align-items: center;
  width: 100%;
  padding: 0 32px 0 32px;
}

.navbar-collapse {
  height: 200px;
}

.navbar-collapse.collapse {
  background-color: black;
}

.modal-title {
  text-align: center;
}

.modal-btn-ctn {
  text-align: right;
  padding-right: 16px;
}

.modal-btn-ctn .btn {
  margin-left: 10px;
}

.navbar-header {
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #fcfcfc !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.navbar-brand:hover {
  color: #8662ea !important;
}

.navbar-nav {
  height: 60px;
}

@media (max-width: 768px) {
  .navbar-nav {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
  }
}

.navbar-nav li {
  height: 60px;
}

.navbar-nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #efefef !important;
}

.navbar-nav li a:hover {
  color: #1fc7d3 !important;
}

.navbar-nav li a button {
  padding-bottom: 2px;
}

.planet-icon {
  margin: 0 5px;
}
