.assign-autocomplete-ctn {
  position: relative;
  display: flex;
  width: 240px;
  max-height: 32px;
}

.at-symbol {
  background-color: #333333;
  border: 1px solid #a5a5a5;
  padding: 6px 2px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #d6d6d6;
}

.assign-to {
  position: relative;
  min-width: 150px;
  border-radius: 0;
  border-color: #a5a5a5;
}
