#dashboard {
  background-color: #1c1c1c;
  height: calc(100vh - 110px);
  padding: 30px;
}

#dashboard-title {
  text-align: center;
  color: #fcfcfc;
}

#dash-first-row {
  display: flex;
}

#dash-second-row {
  display: flex;
}

.dash-ctn {
  flex: 1;
  padding: 10px;
}

.dash-box {
  padding: 12px;
  border: 2px solid grey;
  border-radius: 6px;
}

.dash-box-title {
  color: #cecece;
}
