#dashboard {
  background-color: #1c1c1c;
  height: calc(100vh - 60px);
  padding: 30px;
  margin-top: 60px;
  padding-bottom: 50px;
  overflow: auto;
}

@media (max-width: 799px) {
  #dashboard {
    padding: 30px 0;
  }
}

#dashboard-title {
  text-align: center;
  color: #fcfcfc;
}

#dash-first-row {
  display: flex;
}

#dash-second-row {
  display: flex;
}

.dash-ctn {
  flex: 1;
  padding: 10px;
}

.dash-box {
  padding: 12px;
  border: 2px solid #808080;
  border-radius: 6px;
}

.dash-box-header {
  position: relative;
}

.dash-box-title {
  color: #eee;
  display: inline;
}

.add-icon {
  color: #fff;
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
}
