.li-task-ctn {
  display: flex;
  flex-direction: column;
  color: #d6d6d6;
  font-size: 16px;
}

.task-ctn {
  display: flex;
  justify-content: center;
}

.toggle-ctn {
  padding-right: 6px;
}

.toggle-icon-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 2px solid black;
  border-radius: 6px;
}

.toggle-icon-ctn:hover {
  background-color: LightGrey;
  cursor: pointer;
}

.new-form-btn {

}

.new-form-btn:hover {
  cursor: pointer;
  color: #8662ea;
}

.task-row-ctn {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid LightGrey;
  border-radius: 5px;
  padding: 2px 2px 1px 2px;
}

.task-title {
  padding-left: 10px;
}

.task-assigned-to {
  width: 190px;
  padding: 0 4px;
  margin-left: auto;
}

.task-assigned-to:hover {
  cursor: pointer;
  color: #1fc7d3;
}

.task-due-date {
  width: 96px;
  padding: 0 4px;
  text-align: center;
}
