.li-task-ctn {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.task-ctn {
  color: #d6d6d6;
  display: flex;
  justify-content: center;
}

.toggle-ctn {
  padding-right: 6px;
}

.toggle-icon-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 2px solid black;
  border-radius: 6px;
}

.toggle-icon-ctn-disable {
  background-color: #333333;
  width: 26px;
  height: 26px;
  border: 2px solid black;
  border-radius: 6px;
}

.toggle-icon-ctn:hover {
  background-color: #666666;
  cursor: pointer;
}

.minus-icon {
  color: #8662ea;
}

.toggle-icon-ctn:hover .minus-icon {
  color: #2d069b;
}

.plus-icon {
  color: #288bd6;
}

.toggle-icon-ctn:hover .plus-icon {
  color: #135f99;
}

.task-row-ctn {
  flex: 1;
  display: flex;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 2px 2px 1px 2px;
}

.task-title {
  max-width: 40vw;
  padding-left: 10px;
}

.task-icons-ctn {
  display: flex;
  float: right;
  margin-left: auto;
  width: 80px;
  min-width: 80px;
  margin-right: 30px;
}

.icon-ctn {
  padding: 0 8px;
}

.icon-ctn svg {
  color: #288bd6;
}

.icon-ctn:hover svg {
  color: #23527c;
}

.icon-ctn:hover {
  cursor: pointer;
}

.task-assigned-to {
  width: 190px;
  min-width: 190px;
  padding: 0 4px;
}

.task-assigned-to span:hover {
  cursor: pointer;
  color: #1fc7d3;
}

.task-due-date {
  width: 96px;
  min-width: 96px;
  padding: 0 4px;
}
