.li-task-ctn {
  display: flex;
  color: #d6d6d6;
}

.toggle-ctn {
  padding-right: 6px;
}

.toggle-icon-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 2px solid black;
  border-radius: 6px;
}

.toggle-icon-ctn:hover {
  background-color: LightGrey;
  cursor: pointer;
}

.task-row-ctn {
  display: flex;
  justify-content: space-between;
  border: 1px solid LightGrey;
  border-radius: 5px;
  padding: 2px 2px 1px 2px;
}

.task-ctn {
  flex: 1;
}

.task-title {
  padding-left: 10px;
}

.task-assigned-to {
  width: 190px;
  padding: 0 4px;
  margin-left: auto;
}

.task-due-date {
  padding: 0 4px;
}
