.App {
  position: relative;
}

.overflow-x-ctn {
  overflow-x: auto;
}

.overflow-y-ctn {
  overflow-y: auto;
}

.content-ctn {
  background-color: #1c1c1c;
  min-height: calc(100vh - 110px);
  margin-top: 60px;
  width: 100%;
}

.modal-backdrop {
  position: relative;
}

@media (max-width: 639px) {
  .hide-xsmall {
    display: none;
  }
}

/* disable user text highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}