.pursuance-btn-group a {
  background-color: #212121;
  border: 1px solid #6d6d6d;
  border-right: none;
  border-bottom: none;
  width: 100px;
  height: 66px;
  padding-top: 10px;
}

a.pursuance-top-btn {
  border-top-right-radius: 0px;
}

a.pursuance-bottom-btn {
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid #6d6d6d;
}
