.pursuance-page {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 60px);
  width: 100%;
  margin: 0;
  padding: 12px;
  margin-top: 60px;
  padding-bottom: 50px;
}

.pursuance-page > article {
  display: flex;
  flex: 1;
  order: 2;
  margin-left: 100px;
}

.pursuance-page > nav {
  position: fixed;
  flex: 0 0 5em;
  order: 1;
}
