.menu-item {
  display: block;
  text-align: center;
  font-size: 9px;
}

.menu-item:hover {
  text-decoration: none;
}

.menu-item span {
  display: block;
}

.menu-item {
  color: #50b3fe;
}

.menu-item.Active {
  color: #9b77ff;
}

.menu-btn-label {
  font-size: 1.42em;
}
