.edit-assignee-button {
  border-radius: 5px;
  background-color: #288bd6;
}

.edit-assignee-button:hover {
  border-color: #fff;
}

.assignee-button {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  border-radius: 5px;
  background-color: #aa00ff;
}

.assignee-button:hover {
  border-color: #fff;
}
