.about {
  width: 100%;
  padding: 0 80px 0 30px;
  overflow: auto;
}

.about h1, h2, h4 {
  color: #fcfcfc;
}

.about h1 {
  text-align: center;
}

@media (max-width: 768px) {
  .about {
    padding: 0 65px 0 15px;
  }
}