.discuss-ctn {
  display: flex;
  width: 100%;
  background-color: #1c1c1c;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.leapchat-frame {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
  border: 1px solid #6d6d6d;
  border-right: none;
  border-bottom-left-radius: 4px;
  margin-right: 50px;
}

.leapchat-frame-narrow {
  max-width: calc(100vw - 662px);
}

@media (min-width: 1429px) {
  .leapchat-frame-narrow {
    max-width: calc(65vw - 162px);
  }
}
